<form class="form-box">
	<div class="form-box__title">Sign Up</div>
	<input class="form-box__input" type="text" name="name" placeholder="Name" autocomplete="off">
	<input class="form-box__input" type="email" name="email" placeholder="Email" autocomplete="off">
	<input class="form-box__input" type="password" name="password" placeholder="Password" autocomplete="off">
	<input class="form-box__input" type="password" name="confirm_password" placeholder="Confirm Password"
		   autocomplete="off">
	<button class="form-box__submit" type="submit">Sign Up</button>
	<div class="form-box__footer">Already have an account? <a routerLink="../login">Sign In</a></div>
</form>
