<form class="auth-form form" [formGroup]="form" (ngSubmit)="onSubmit()">
	<div class="auth-form__title">Sign Up</div>
	<input class="form__input" id="name" formControlName="name" type="text" placeholder="Name" autocomplete="off">
	<div class="form__invalid" *ngIf="!form.get('name').pristine && form.get('name').errors">
		<span *ngIf="form.get('name').errors.required">Required!</span>
		<span *ngIf="form.get('name').errors.minlength">Must be at least {{form.get('name').errors.minlength.requiredLength}} letters</span>
	</div>
	<input class="form__input" formControlName="email" type="email" name="email" placeholder="Email" autocomplete="off">
	<div class="form__invalid" *ngIf="!form.get('email').pristine && form.get('email').errors">
		<span *ngIf="form.get('email').errors.emailExists">Email exists</span>
		<span *ngIf="form.get('email').errors.required">Required!</span>
		<span *ngIf="form.get('email').errors.email">Should be email</span>
	</div>
	<ng-container formGroupName="passwords">
		<input class="form__input" formControlName="password" type="password" name="password" placeholder="Password"
			   autocomplete="off">
		<div class="form__invalid"
			 *ngIf="!form.get('passwords.password').pristine && form.get('passwords.password').errors">
			<span *ngIf="form.get('passwords.password').errors.required">Required!</span>
			<span *ngIf="form.get('passwords.password').errors.minlength">Must be at least {{form.get('passwords.password').errors.minlength.requiredLength}} letters</span>
		</div>
		<input class="form__input" formControlName="confirm_password" type="password" name="confirm_password"
			   placeholder="Confirm Password"
			   autocomplete="off">
		<div class="form__invalid"
			 *ngIf="!form.get('passwords.confirm_password').pristine && form.get('passwords.confirm_password').errors">
			<span *ngIf="form.get('passwords.confirm_password').errors.required">Required!</span>
			<span *ngIf="form.get('passwords.confirm_password').errors.minlength">Must be at least {{form.get('passwords.confirm_password').errors.minlength.requiredLength}} letters</span>
			<span *ngIf="form.get('passwords.confirm_password').errors.samePassword">Must be the same as the password</span>
		</div>
	</ng-container>
	<button class="form__submit" type="submit" [disabled]="!form.valid || pending">Sign Up</button>
	<div class="auth-form__footer">Already have an account? <a routerLink="../login">Sign In</a></div>
</form>
