<div class="template">
	<aside class="template__aside">
		<nav class="menu">
			<a class="menu__link" routerLink="user">User</a>
			<a class="menu__link" href="#">Link 2</a>
			<a class="menu__link" href="#">Link 3</a>
		</nav>
	</aside>
	<header class="template__header">
		<nav class="nav">
			<a class="nav__link" href="#">🍔</a>
			<a class="nav__link" href="#">💬</a>
			<a class="nav__link" href="#">📨</a>
			<a class="nav__link nav__link--start-right" href="#">🔍</a>
			<a class="nav__link" href="#">🇺🇸</a>
			<a class="nav__link nav__link--has_drop-down" href="#">👨</a>
			<div class="drop-down">
				<a href="#">test</a>
			</div>
		</nav>
	</header>
	<div class="template__body">
		<router-outlet></router-outlet>
	</div>
</div>